@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeue/helveticaneue-thin-webfont.eot');
    src: url('fonts/HelveticaNeue/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaNeue/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('fonts/HelveticaNeue/helveticaneue-thin-webfont.woff') format('woff'),
         url('fonts/HelveticaNeue/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}