* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background:  url(../img/Background-copy.png) no-repeat center center;
    background-size: cover; 
}
/*Navigation*/
    .container {
        width: 1215px;
        margin: 0 auto;
    }

    nav {
       width: 100%;
        height: 36px;
        background: rgb(7,80,143);
        padding-right: 20px;
        text-align: right;
    }
    .menu {
        height: 100%;
        list-style: none;
    }
    .menu li {
        display: inline-block;
        height: 100%;

    }
    .menu a {
        display: block;
        height: 100%;
        text-decoration: none;
        padding: 10px 12px;
        color: #60b5ed;
        font: 400 14px / 14px 'Helvetica Neue', Tahoma, sans-serif;
        position: relative;

    }
    .minhas {
        border-left: 1px solid #60b5ed;
    }
    .ola a{
        color: rgb(255, 255, 255);
    }
    .minhas a{
        color: rgb(255, 255, 255);
        padding-left: 38px;
    }
    .minhas img{
        position: absolute;
        left: 9px;
        bottom: 4px;   
    }
    .underline {
        text-decoration: underline;
    }
    
    .menu>li:hover>a {
        background: #60b5ed;
        color: #fff;
    }
    .menu li:nth-last-child(2):hover a{
        background: url(../img/Layer-16.png);
    }
    .menu li:last-child:hover a {
        background: url(../img/Layer-16.png);
    }
/*Main Content*/
    main {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 100vh;
    }
    .entrar {
        width: 560px;
        margin: auto;
        background: rgba(16, 16,16, .6);
        text-align: center;
    }
    .entrarHeader {
        height: 65px;
        border-bottom: 1px solid #fff;
    }
    .entrarHeader h1{
        color: #ffffff;
        font: 400 24px/65px 'Helvetica Neue', Tahoma, sans-serif;
        
    }
    form {
        width: 276px;
        margin: 0 auto;
    }
    .logInFB {
        line-height: 95px;
        
    }
    .logInFB button {
        height: 35px;
        vertical-align: middle;
        background: rgba(255, 255, 255, 0);
        border: 0;
    }
    .logInFB button:visited {
        border: none;
    }
    .lineOuLine {
        margin-top: -6px;
        margin-bottom: 21px;
    }
    .leftLine {
        width: 100%;
        position: relative;
    }
    .ou {
        position: absolute;
        left: 46%;
        top: 42%;
        color: #999999;
        font: 400 14px / 16px 'Helvetica Neue', Tahoma, sans-serif;
        text-transform: uppercase;
        padding: 0 1px;
    }
    input {
        font: 400 14px / 16px #cccccc;
        width: 100%;
        height: 36px;
        margin: 8px 0;
        background: rgb(0,6,0);
        border: 0;
        border-bottom: 1px solid #cccccc;
        text-indent: 20px;
    }
    input:focus {
        border: 0;
        box-shadow: 0px 0px 15px #3e94c9;
        border-radius: 3px;
        background: -webkit-linear-gradient(top, rgba(80,176,220,1) 0%, rgba(117,189,209,1) 41%, rgba(46,121,196,1) 100%);
        background: linear-gradient(to bottom, rgba(80,176,220,1) 0%, rgba(117,189,209,1) 41%, rgba(46,121,196,1) 100%);
    }
    :focus::-webkit-input-placeholder { 
        color: #fff;
    }
    :focus::-moz-placeholder { 
        color: #fff;
    }
    :focus:-ms-input-placeholder { 
        color: #fff;
    }
    :focus::placeholder { 
        color: #fff;
    }
    .sendLabel {
        display: block;
        width: 100%;
        color: #cccccc;
        font: 400 14px/16px 'Helvetica Neue', Tahoma, sans-serif;
        text-align: left;
        padding: 10px 0;
    }
    input[type="checkbox"] {
        height: 13px;
        width: 13px;  
    }
    input[type="submit"] {
        background: url(../img/Button-copy.png) no-repeat;
        background-size: cover;
        border: 0;
        border-radius: 3px;
        width: 150px;
        height: 35px;
        color: #ffffff;
        font: 400 14px / 30px 'Helvetica Neue', Tahoma, sans-serif;
        text-align: center;
        text-indent: 0;
    }
    .entrar>p {
        width: 60%;
        color: #cccccc;
        font: 400 11px / 16px 'Helvetica Neue', Tahoma, sans-serif;
        margin: 0 auto 2vh;
    }